#heading{
	font-family:bitter,georgia,"times new roman",times,serif;
	font-weight:bold;
	color:#2F4F4F;
	font-style: italic
}

#heading:hover{
    color:#A9A9A9;
    transition:all 0.4s ease-in-out;
}

.time{
	color:#868686;
	font-weight:bold;
}
.post-time{
	color:#868686;
	font-weight:bold;
	font-style: italic
}

.description{
	color:#868686;
	fon-weight:bold;
	margin-top:-2px;
}
#active{
    color: black;
}

.text-style{
        font-family:bitter,georgia,"times new roman",times,serif;
        color:#005E90;
    
}

#readMore{

	font-weight:bold; 
	color:#008000;
}
#readMore:hover{
	color: darkslategray;
}

.post-category{
 
	font-variant: petite-caps;


}

#views{
	font-family:bitter,georgia,"times new roman",times,serif;
	font-weight:bold;
	color:#A9A9A9;

}

#views:hover{
    color:#2F4F4F;
    transition:all 0.4s ease-in-out;
}

.blog-font-style{
	font-family:bitter,georgia,"times new roman",times,serif;
	color:#005E90;
}

#ph{
	font-family:bitter,georgia,"times new roman",times,serif;
	font-weight:bold;
	color:black;

}

#ph:hover{
    color:#A9A9A9;
    transition:all 0.4s ease-in-out;
}

.bg-success{

	background-color:#5F9EA0 !important;

}
.btn-success{
	background-color:#5F9EA0 !important;
	border-color: #499092 !important;
}
.btn-success:hover{
	background-color:#0c9294 !important;
	
}
