{% extends 'base.html' %}
{% load static %}




{% block contactActive %}active{% endblock contactActive %}

 {% block body %}



<div class="row ml-1 mb-1">
    <h2 class="mb-3" id="heading">Contact Us</h2>
    

</div>
<div class="row">

 <div class="col-sm-8 mb-5">
 <div class="card p-3 mb-5" style="background-color:#708090;"></div>

     <div class="card pl-5  pr-5  pt-5 pb-5">
     


           <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
   {%for f in form %}


  <label>{{ f.label_tag }}:</label>
    <p>{{f}}</p>



                    {% endfor %}

        <button type="submit" class="btn btn-success">Submit</button>

</form>






     </div>

 </div>




      <!-- col-2 start-->


        <div class="col-sm-3 ml-lg-5" >

            <!--about me-->

          <div class="card text-center ">
                    <h6 id="heading" class="mt-2">About Me</h6>
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top rounded-circle pl-5 pr-5 pt-3" src="{% static 'aya.jpeg' %}" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title" id="heading"><strong>Azizur Rahman [Ayan]</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2" id="heading">Student of metrpolitan University</h6>
    <!-- Text -->
    <p class="card-text" id="heading">Right now, I am doing cse from MU
    </p>

    <!-- Facebook -->
    <a href="https://www.linkedin.com/in/azizur-rahman-720636165"  class="btn-floating btn-small btn-fb"><i class="fa fa-linkedin-square

"></i></a>
    <!-- Twitter -->
    <a href="https://www.facebook.com/imayanchy/" class="btn-floating btn-small btn-tw" style="padding:10px;"><i class="fa fa-facebook-square

"></i></a>
    <!-- Google + -->
    <a href="mailto:aaziz9642@gmail.com"  class="btn-floating btn-small btn-dribbble"><i class="fa fa-envelope-o"></i></a>

  </div>

</div>
              <!--ending of about me-->
                </div>




                  <!--  recent post strat here -->
  
   
   <!-- Card -->
<div class="card promoting-card mt-5">

<h6 class="bg-success m-2  p-3 text-center" id="heading">Recent Post</h6>

 <div class="card-body">

                        <div class="mt-3">
                             {% for post in RecentPost%}

                            <img style="float:left;" class="d-inline-block" src="{{ post.get_photo_url }}" height=80;
                                width=80; alt="abc">


                            <a href="{% url 'readMore' post.postId %}">
                                <p  style="margin-left:90px;" class="text-style">
                                    {{ post.postTitle |truncatewords:2 }}
                                </p>
                            </a>


                            <p style="margin-left:100px; margin-top:-10px;" class="description">{{ post.postTimeDate }}</p>

                            <br>
                             {% endfor %}
                        </div>



                    </div>

  

  

</div>
<!-- Card -->


<div class="card promoting-card mt-5">

<h6 class="bg-success m-2 p-3 text-center" id="heading">Categories</h6>



  

  <!-- Card content -->
  <div class="card-body">

                        <div class="mt-3 text-center">
                             {% for cat in Categories%}

                            <a class="text-style" href="{% url 'categories' cat.cat_search}"> {{cat.category}} </a><br>
                            

                         
                            
                             {% endfor %}
                        </div>



                    </div>

  

  

</div>


</div>
</div>



{% endblock body %}